[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bson = "*"
pytest = "*"
mongomock = "*"
mock = "*"
flake8 = "*"
isort = "*"
black = "*"

[packages]
pymongo = "*"
blinker = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
